
.DS_Store
*.includecache
*.xml
*.xml
*.xml
ex1/.idea/workspace.xml
ex1/cmake-build-debug/CMakeFiles/Progress/1
*.txt
*.o
ex1/.idea/workspace.xml
*.xml
*.out
*.xml
*.includecache
**/cmake-build-debug/
